<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
P{
        border:1px solid rgb(0, 0, 0);
        color: green;
        background-color: lightsalmon;
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
}

[]
    
    
    
    
    